.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  gap: 2rem;
  background-color: var(--light-blue);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.description {
  font-size: var(--font-size-md);
  line-height: 1.6;
  max-width: 600px;
  color: var(--dark-blue);
}

.img-div {
  flex-shrink: 0;
}
.coder-picture {
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}
