:root {
  --dark-blue: #112d4e;
  --royal-blue: #3f72af;
  --light-blue: #dbe2ef;
  --light-gray: #f9f7f7;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Roboto", sans-serif;

  --font-size-xl: 2.5rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
}

body {
  font-family: var(--font-body);
  background-color: white;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
}

/* Scroll Animation Styles */
.scroll-animate {
  opacity: 1;
  transform: translateY(20px);
  transition: all 0.6s ease;
}
.scroll-animate.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Design Variables */
body {
  font-size: var(--font-size);
  padding: var(--padding);
  margin: var(--margin);
}
