.tools {
  padding: 4rem 2rem;
  background-color: var(--light-gray);
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.icon-container {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  text-align: center;
  width: 5rem;
}

.icon-container:hover {
  transform: scale(1.05);
}

.tool-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .tools-container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .icon-container {
    width: 4rem;
  }
}

@media (max-width: 425px) {
  .tools-container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  .icon-container {
    width: 3rem;
    height: 5rem;
  }

  p {
    font-size: 0.8rem;
  }
}
