.tools {
  padding: 8rem 0 8rem 0;
  background-color: #dbe2ef;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tools-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #f9f7f7;
  padding: 1rem;
  width: 100%;
  flex-flow: row wrap;
}

.tool-icon {
  width: 5rem;
  min-width: 5rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
